# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\softuni-materials\Lab\Shampoo Company\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
